.container {
  display: grid;
  place-content: center;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
}

.weatherGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.error {
  color: #dc3545;
  text-align: center;
  margin: 1rem 0;
} 